* {
    box-sizing: border-box !important;
    margin: 0 !important;
    padding: 0 !important;
}

body {
    background-color: rgb(30, 30, 30);
    color: white;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
    color: #e50914;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    color: white;
}

h3 {
    font-size: 20px;
    color: #e50914;
}

h4 {
    font-size: 16px;
    font-weight: bold;
    color: rgb(200, 200, 200);
}

h6 {
    font-size: 80px;
    text-transform: uppercase;
    font-weight: bold;
}

nav {
    position: fixed !important;
    width: 100% !important;
    z-index: 500 !important;
    background-color: black !important;
    height: 10vh;
}

.nav-link {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important;
}

#netflix {
    margin-right: 1rem !important;
    margin-left: 1rem !important;
}

.search_bar {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.movie {
    background-color: rgb(50, 50, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

.movie:hover {
    transform: scale(1.2);
    background-color: rgb(75, 75, 75);
}

.title_list_item {
    padding-top: 3rem;
    text-align: center;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
